@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2"), url("../fonts/Inter-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.woff2"), url("../fonts/Inter-Italic.woff");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2"), url("../fonts/Inter-Medium.woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-MediumItalic.woff2"), url("../fonts/Inter-MediumItalic.woff");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
.image8, .image7, .image6, .image5, .image4, .image3, .image2, .image1, .dessert, .tea, .coffee, .drink, .tel, .map-link, .icon-facebook, .icon-instagram, .icon-twitter, .google-play, .app-store, .about__photo4, .about__photo3, .about__photo2, .about__photo1, .right-arrow, .left-arrow, .enjoy__button, .navigation__links, .header__menu-link {
  transition: all 0.3s;
}

.wrapper {
  width: 1440px;
  padding: 0 40px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #E1D4C9;
  font-size: 72px;
  line-height: 105%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
}
h1 span {
  color: #B0907A;
  font-style: italic;
}

h2 {
  color: #403F3D;
  font-size: 60px;
  line-height: 125%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
h2 span {
  color: #B0907A;
  font-style: italic;
}

h3 {
  color: #403F3D;
  font-size: 24px;
  line-height: 125%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.header {
  padding-top: 20px;
  background: #E1D4C9;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 60px;
  display: inline-block;
  background: url(../assets/header/logo.svg);
}

.header__navigation {
  margin: auto;
}

.navigation {
  display: flex;
  column-gap: 40px;
  list-style-type: none;
}

.header__menu-link {
  padding-bottom: 2px;
  display: flex;
  margin-top: 16px;
  color: #403F3D;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.cup {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../assets/header/coffee-cup.svg");
}

.header__menu-link:hover {
  border-bottom: 2px solid #403F3D;
}

.navigation__links {
  padding-bottom: 2px;
  color: #403F3D;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navigation__links:hover {
  border-bottom: 2px solid #403F3D;
}

.header__menu-item {
  margin-top: 16px;
  display: inline-block;
  width: 72px;
  height: 28px;
  background-image: url("../assets/header/menu-item.svg");
}

.enjoy {
  padding-top: 20px;
  background: #E1D4C9;
}

.enjoy__bg {
  padding: 100px 100px;
  width: 100%;
  height: 644px;
  background-image: url("../assets/enjoy/enjoy-bg.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.enjoy__content {
  width: 530px;
}

.enjoy__text {
  padding: 40px 0;
  color: #E1D4C9;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.enjoy__button {
  width: 200px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #E1D4C9;
  color: #403F3D;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.enjoy__button .cup {
  margin-left: -18px;
  opacity: 0;
  transition: 1s;
}

.enjoy__button:hover .cup {
  margin-left: 8px;
  opacity: 1;
  transition: 1s;
}

.favourites {
  padding: 100px 0;
  background: #E1D4C9;
}

.favorites__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourites__slider {
  margin-top: 40px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

.favorites__title {
  letter-spacing: 0.3px;
}

.favourites__slide {
  width: 1152px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites__img {
  margin-bottom: 20px;
  width: 480px;
  height: 480px;
}

.favourites__text {
  margin: 16px 0;
  color: #403F3D;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.favourites__box {
  margin-top: 40px;
  display: flex;
  column-gap: 12px;
}

.line {
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
}
.line_active {
  background-color: #665F55;
}

.left-arrow {
  width: 60px;
  height: 60px;
  background-image: url("../assets/favourites/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  cursor: pointer;
}

.left-arrow:hover {
  border: 1px solid #665F55;
  background: #665F55;
  background-image: url("../assets/favourites/arrow-left-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.right-arrow {
  width: 60px;
  height: 60px;
  background-image: url("../assets/favourites/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  cursor: pointer;
}

.right-arrow:hover {
  border: 1px solid #665F55;
  background: #665F55;
  background-image: url("../assets/favourites/arrow-right-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about {
  background: #E1D4C9;
}

.about__title {
  letter-spacing: 0.2px;
}

.about__grig-layout {
  padding-top: 40px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 430px 120px 430px;
  gap: 40px;
}

.about__photo1 {
  grid-column: 1;
  grid-row: 1/3;
  background-image: url(../assets/about/about-1.jpg);
  background-size: 726px 726px;
  background-position: center;
  border-radius: 20px;
}

.about__photo1:hover {
  background-size: calc(726px - 10%) calc(726px - 10%);
}

.about__photo2 {
  grid-column: 1;
  grid-row: 3;
  background-image: url(../assets/about/about-2.jpg);
  background-size: 726px 726px;
  background-position: center;
  border-radius: 20px;
}

.about__photo2:hover {
  background-size: calc(726px - 10%) calc(726px - 10%);
}

.about__photo3 {
  grid-column: 2;
  grid-row: 1;
  background-image: url(../assets/about/about-3.jpg);
  background-size: 726px 726px;
  background-position: center;
  border-radius: 20px;
}

.about__photo3:hover {
  background-size: calc(726px - 10%) calc(726px - 10%);
}

.about__photo4 {
  grid-column: 2;
  grid-row: 2/4;
  background-image: url(../assets/about/about-4.jpg);
  background-size: 726px 726px;
  background-position: center;
  border-radius: 20px;
}

.about__photo4:hover {
  background-size: calc(726px - 10%) calc(726px - 10%);
}

.app {
  padding: 100px 0;
  background: #E1D4C9;
}

.app__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 100px;
}

.app__content {
  width: 630px;
}

.app__title {
  text-align: start;
  letter-spacing: 0.3px;
}

.app__text {
  margin: 40px 0;
  color: #403F3D;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.app__btns {
  display: flex;
  column-gap: 20px;
}

.app-store {
  display: inline-block;
  width: 200px;
  height: 64px;
  background-image: url("../assets/app/app-store.png");
  background-size: cover;
  cursor: pointer;
}

.app-store:hover {
  background-image: url("../assets/app/app-store-hover.png");
}

.google-play {
  display: inline-block;
  width: 200px;
  height: 64px;
  background-image: url("../assets/app/google-play.png");
  background-size: cover;
  cursor: pointer;
}

.google-play:hover {
  background-image: url("../assets/app/google-play-hover.png");
}

.app__image {
  width: 630px;
  height: 630px;
  background-image: url("../assets/app/mobile-screens.png");
  background-size: cover;
}

.footer {
  padding-bottom: 40px;
  background: #E1D4C9;
}

.footer__wrapper {
  padding: 100px 100px;
  display: flex;
  column-gap: 100px;
  background-color: #665F55;
  border-radius: 40px;
}

.footer__title {
  width: 530px;
  margin-bottom: 40px;
  color: #B0907A;
  font-size: 60px;
  line-height: 125%;
  font-style: italic;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.3px;
}
.footer__title span {
  color: #E1D4C9;
  font-size: 60px;
  line-height: 125%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.footer__icons {
  display: flex;
  column-gap: 12px;
}

.icon-twitter {
  width: 60px;
  height: 60px;
  background-image: url("../assets/footer/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
}

.icon-twitter:hover {
  border: 1px solid #E1D4C9;
  background: #E1D4C9;
  background-image: url("../assets/footer/twitter-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-instagram {
  width: 60px;
  height: 60px;
  background-image: url("../assets/footer/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
}

.icon-instagram:hover {
  border: 1px solid #E1D4C9;
  background: #E1D4C9;
  background-image: url("../assets/footer/instagram-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-facebook {
  width: 60px;
  height: 60px;
  background-image: url("../assets/footer/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
}

.icon-facebook:hover {
  border: 1px solid #E1D4C9;
  background: #E1D4C9;
  background-image: url("../assets/footer/facebook-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__text {
  margin-bottom: 40px;
  color: #E1D4C9;
  font-size: 24px;
  line-height: 125%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.footer__box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.contact {
  display: flex;
  color: #E1D4C9;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1px;
  list-style-type: none;
}

.ico-pin {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../assets/footer/pin-alt.svg");
}

.map-link {
  display: flex;
  padding-bottom: 2px;
  color: #E1D4C9;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.map-link:hover {
  border-bottom: 2px solid #E1D4C9;
}

.tel {
  display: flex;
  padding-bottom: 2px;
  color: #E1D4C9;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.tel:hover {
  border-bottom: 2px solid #E1D4C9;
}

.ico-tel {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../assets/footer/phone.svg");
}

.ico-clock {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../assets/footer/clock.svg");
}

.menu {
  padding: 20px 0 100px 0;
  background: #E1D4C9;
}

.menu__title {
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.3px;
}

.menu__list {
  padding-bottom: 40px;
  width: 361px;
  margin: auto;
}

.list {
  display: flex;
  column-gap: 16px;
  list-style-type: none;
}

.drink {
  padding: 7px 15px 7px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #403F3D;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.drink_active {
  color: #E1D4C9;
  background: #665F55;
  border: 1px solid #665F55;
  cursor: default;
}

.drink:hover {
  color: #E1D4C9;
  background: #665F55;
  border: 1px solid #665F55;
}

.coffee {
  padding: 3px 7px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: #C1B6AD;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.coffee_active {
  background-color: #E1D4C9;
}

.coffee > img {
  width: 16px;
  height: auto;
}

.drink:hover .coffee {
  background-color: #E1D4C9;
}

.tea {
  padding: 3px 7px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: #C1B6AD;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.tea > img {
  width: 16px;
  height: auto;
}

.drink:hover .tea {
  background-color: #E1D4C9;
}

.dessert {
  padding: 3px 7px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: #C1B6AD;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.dessert > img {
  width: 16px;
  height: auto;
}

.drink:hover .dessert {
  background-color: #E1D4C9;
}

.menu__grig-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 505px 505px;
  gap: 40px;
}

.menu__card {
  border: 1px solid #C1B6AD;
  border-radius: 40px;
}

.image1 {
  background-image: url("../assets/menu/coffee-1.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image1 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.image2 {
  background-image: url("../assets/menu/coffee-2.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image2 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.image3 {
  background-image: url("../assets/menu/coffee-3.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image3 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.image4 {
  background-image: url("../assets/menu/coffee-4.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image4 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.image5 {
  background-image: url("../assets/menu/coffee-5.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image5 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.image6 {
  background-image: url("../assets/menu/coffee-6.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image6 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.image7 {
  background-image: url("../assets/menu/coffee-7.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image7 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.image8 {
  background-image: url("../assets/menu/coffee-8.jpg");
  height: 310px;
  background-size: 340px 340px;
  background-position: center;
  border-radius: 40px;
}

.menu__card:hover .image8 {
  background-size: calc(340px - 10%) calc(340px - 10%);
}

.menu__text-content {
  height: 196px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.text-content__title {
  text-align: start;
}

.text-content__text {
  margin: 12px 0;
  color: #403F3D;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.price {
  margin-top: auto;
  color: #403F3D;
  font-size: 24px;
  line-height: 125%;
  font-style: normal;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

/*# sourceMappingURL=style.css.map */
