.footer {
    padding-bottom: 40px;
    background: $color-bg-body;
}

.footer__wrapper {
    padding: 100px 100px;
    display: flex;
    column-gap: 100px;
    background-color: $color-bg-container;
    border-radius: 40px;
}

.footer__title {
    width: 530px;
    margin-bottom: 40px;
    color: $color-text-accent;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: .3px;

    span {
        color: $color-text-light;
        font-family: 'Inter', sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }
}

.footer__icons {
    display: flex;
    column-gap: 12px;
}

.btn-ico {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid $color-border-light;
    cursor: pointer;
}

.ico-twitter {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url('../assets/footer/twitter.svg');
}

.ico-instagram {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url('../assets/footer/instagram.svg');
    background-size: cover;
}

.ico-facebook {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url('../assets/footer/facebook.svg');
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__text {
    margin-bottom: 40px;
    color: $color-text-light;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.footer__box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.contact {
    display: flex;
    color: $color-text-light;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: .1px;
    list-style-type: none;
}

.ico-pin {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../assets/footer/pin-alt.svg')
}

.map-link {
    display: flex;
    padding-bottom: 2px;
    color: $color-text-light;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    @extend %transition;
}

.map-link:hover {
    border-bottom: 2px solid $color-text-light;
}

.tel {
    display: flex;
    padding-bottom: 2px;
    color: $color-text-light;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    @extend %transition;
}

.tel:hover {
    border-bottom: 2px solid $color-text-light;
}

.ico-tel {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../assets/footer/phone.svg')
}

.ico-clock {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../assets/footer/clock.svg')
}